body{
    color:black;
}

#mattetal{
    border: 1px solid green;
    margin: 20px;
    text-align: center;

}
#resultat {
    margin: 40px;
    text-align: center;
}
#rattochfellista {
    color: green;
    margin: 100px;
    text-align: center;
}
#fellista {
    margin: 20px;
    color: red;
}
#startknapp {
    color: blue;
} 
#startknappsdiv {

    display: flex;
    justify-content: center;
}  
.hidden {
    display: none;

}